@font-face {
  font-family: "PTRootUI";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/PTRootUI/PTRootUI-Light.eot");
  src: url("../fonts/PTRootUI/PTRootUI-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/PTRootUI/PTRootUI-Light.woff") format("woff"), url("../fonts/PTRootUI/PTRootUI-Light.ttf") format("truetype"); }

@font-face {
  font-family: "PTRootUI";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/PTRootUI/PTRootUI-Regular.eot");
  src: url("../fonts/PTRootUI/PTRootUI-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTRootUI/PTRootUI-Regular.woff") format("woff"), url("../fonts/PTRootUI/PTRootUI-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "PTRootUI";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/PTRootUI/PTRootUI-Medium.eot");
  src: url("../fonts/PTRootUI/PTRootUI-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/PTRootUI/PTRootUI-Medium.woff") format("woff"), url("../fonts/PTRootUI/PTRootUI-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "PTRootUI";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/PTRootUI/PTRootUI-Bold.eot");
  src: url("../fonts/PTRootUI/PTRootUI-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTRootUI/PTRootUI-Bold.woff") format("woff"), url("../fonts/PTRootUI/PTRootUI-Bold.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "PTRootUI", sans-serif;
  font-weight: normal;
  background: #F2F2F2;
  color: rgba(35, 35, 35, 0.87); }

html, body {
  overflow-x: hidden; }

.no-scroll {
  overflow: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 20px 0 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "PTRootUI", sans-serif;
  border: none;
    border-bottom: 1px solid #D9D7D1;
    border-radius: 0;
  width: 100%;
  height: 42px;
  font-size: 14px;
  color: #918475; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #D9D7D1; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #D9D7D1; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
    color: #D9D7D1; }
  input::placeholder, textarea::placeholder, select::placeholder {
    color: #D9D7D1; }
  input:hover, textarea:hover, select:hover {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #918475; }
    input:hover + .label-text, textarea:hover + .label-text, select:hover + .label-text {
      color: #918475; }
  input:focus, textarea:focus, select:focus {
    padding: 20px 0 6px;
    border-color: #E26101; }
    input:focus + .label-text, textarea:focus + .label-text, select:focus + .label-text {
      top: 0;
      bottom: auto;
      color: #918475; }
  input:not(:focus):valid + .label-text, textarea:not(:focus):valid + .label-text, select:not(:focus):valid + .label-text {
    top: 0;
    bottom: auto;
    color: #918475; }

.error-box input {
  color: #FF0000;
  border-bottom-color: #FF0000; }

.error-box .error-small {
  display: block; }

.error-small {
  color: #FF0000;
  font-size: 10px;
  display: none;
  width: 100%;
  margin: 7px 0 0; }

.label-text {
  position: absolute;
  color: #D9D7D1;
  top: 20px;
  left: 0;
  font-size: 14px;
  -webkit-transition: .3s ease;
  transition: .3s ease; }

label {
  display: block;
  width: 100%;
  margin: 0 0 37px; }
  label:last-child {
    margin: 0; }

button, .btn {
  outline: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "PTRootUI", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
    border-radius: 0; }
  button:hover, button:focus, .btn:hover, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 10px;
  height: 44px;
  padding: 0 24px;
  font-size: 14px;
  font-weight: 500;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

.btn-accent {
  color: #fff;
  background: #F48300; }
  .btn-accent:hover {
    background: #F06600;
    color: #fff; }
  .btn-accent:focus {
    background: #E26101;
    color: #fff; }

.btn-red {
  background: #F06600;
  color: #fff; }
  .btn-red:hover {
    background: #E26101;
    color: #fff; }

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%; }

strong, b {
  font-weight: bold;
  display: inline-block; }

.my-ul {
  list-style: none; }

.container {
  max-width: 1270px;
  padding: 0 10px; }

.row {
  margin: 0 -10px; }

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding: 0 10px; }

h1 {
  font-size: 84px;
  font-weight: 500;
  color: #5A554B;
  width: 100%;
  line-height: 74px; }

h2 {
  width: 100%;
  font-size: 35px;
  font-weight: bold; }

.bg-beige {
  background: #EBE7E1; }

.bg-white {
  background: #fff; }

.bg-green {
  background: #33572C;
  color: #fff; }

.p-120 {
  padding: 120px 0; }

.p-80 {
  padding: 80px 0; }

.box-text {
  color: #5A554B;
  font-size: 14px; }

.slick-slider {
  width: 100%; }

.slick-slide {
  outline: none; }

.slick-arrow {
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  opacity: 1;
  width: 44px;
  height: 44px;
  fill: #FDC31D;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
  outline: none;
  border-radius: 50%; }
  .slick-arrow:hover {
    background: #F48300;
    fill: #fff; }
  .slick-arrow .svg-icon {
    width: 24px; }

.slick-next {
  margin: 0 0 0 10px; }

.slider-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%; }

.slick-border {
  background: transparent;
  border: 1px solid #fff;
  fill: #fff; }
  .slick-border:hover {
    background: #fff;
    fill: #F4B702; }

.slick-dots {
  bottom: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  list-style: none;
  z-index: 1;
  opacity: 1; }
  .slick-dots li {
    cursor: pointer;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    outline: none;
    margin: 0 8px 0 0;
    background: rgba(255, 255, 255, 0.7); }
    .slick-dots li:hover {
      background: #fff; }
    .slick-dots li:last-child {
      margin: 0; }
    .slick-dots li button {
      display: none; }
  .slick-dots .slick-active {
    background: #F48300; }

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0; }

.load-line {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 82px;
  height: 3px;
  background: #718D25;
  z-index: 2;
  -webkit-animation: line-animate 3s ease-out forwards 1;
          animation: line-animate 3s ease-out forwards 1; }

@-webkit-keyframes line-animate {
  50% {
    width: 100%;
    height: 3px; }
  75% {
    width: 100%; }
  100% {
    width: 100%;
    height: 100%; } }

@keyframes line-animate {
  50% {
    width: 100%;
    height: 3px; }
  75% {
    width: 100%; }
  100% {
    width: 100%;
    height: 100%; } }

.text-load2 {
  display: none;
  z-index: 3;
  max-width: 314px;
  margin: 0 auto; }

.load-line2 {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 100%;
  height: 0;
  background: #EBE7E1;
  -webkit-animation: line-animate2 3s ease-out forwards 1;
          animation: line-animate2 3s ease-out forwards 1;
  z-index: 4; }

@-webkit-keyframes line-animate2 {
  50% {
    width: 100%;
    height: 0; }
  100% {
    width: 100%;
    height: 100%; } }

@keyframes line-animate2 {
  50% {
    width: 100%;
    height: 0; }
  100% {
    width: 100%;
    height: 100%; } }
