@import "vars"

/*==========  section  ==========*/

/*==========  section end  ==========*/



/*==========  section  ==========*/

/*==========  section end  ==========*/

/*==========  section  ==========*/

/*==========  section end  ==========*/



/*==========  section  ==========*/

/*==========  section end  ==========*/


/*==========  section  ==========*/

/*==========  section end  ==========*/



/*==========  section  ==========*/

/*==========  section end  ==========*/


/*==========  section  ==========*/

/*==========  section end  ==========*/



/*==========  section  ==========*/

/*==========  section end  ==========*/


/*==========  section  ==========*/

/*==========  section end  ==========*/



/*==========  section  ==========*/

/*==========  section end  ==========*/


/*==========  section  ==========*/

/*==========  section end  ==========*/



/*==========  section  ==========*/

/*==========  section end  ==========*/


/*==========  section documents ==========*/
.documents
  .box-text
    margin: 20px 0 37px

.documents-box
  background: #fff
  width: 100%
  height: 100%
  padding: 30px 30px 27px
  border-radius: 20px
  font-size: 14px
  color: #5A554B
  &:hover
    color: inherit
  &__icon
    margin: 0 0 30px
    width: 40px
    height: 40px
    display: flex
    align-items: center
    justify-content: center

/*==========  section end  ==========*/



/*==========  section contacts ==========*/
.contact-img
  display: flex
  align-items: center
  justify-content: center
  min-width: 673px
  float: left
  img
    width: 100%

.phone
  color: #ffffff
  font-size: 30px
  font-weight: bold
  &:hover
    color: inherit

.contacts
  h2
    color: #FDC31D
    margin: 0 0 66px

.contacts-content
  height: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  padding: 100px 0

.address
  margin: 21px 0 117px
  display: flex
  align-items: center
  font-size: 20px

.address-text
  max-width: 305px
  width: 100%
  margin: 0 0 0 16px

.contacts-line
  width: 100%
  display: flex
  align-items: center
  flex-wrap: wrap

.contacts-links
  color: #fff
  margin: 0 40px 0 0
  font-size: 14px
  font-weight: bold
  text-transform: uppercase
  display: flex
  align-items: center
  &:hover
    color: $accent
    .svg-icon
      fill: $accent
  .svg-icon
    width: 40px
    height: 40px
    min-width: 40px
    margin: 0 16px 0 0
    fill: #FDC31D
  &:last-child
    margin: 0

/*==========  section contacts end  ==========*/